<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title align="bottom">@ViewData["Title"] - Автоцентр на Барыкина</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
        <!--<link rel="stylesheet" href="~/css/site.css" />-->
    </environment>
    <environment names="Staging,Production">
     <!--   <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"-->
              <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

</head>


<body>

    <div class="container">

            <div class="top-left">
                     <!-- <div id="logo" class="col-xs-4 col-sm-3 col-md-3 hidden-sm hidden-xs"> -->
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo1.jpg" alt="logo" height="100" width="350" align="left"></a>
            <img src="~/images/Hours.png" alt="Время работы" height="75" width="400" align="middle"></a>
                          <img src="~/images/Phones.png" alt="Телефоны и адрес" height="75" width="300" align="right"></a>
                      </div> <!-- //logo -->
            </div>

    </div>

            <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
<!--                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       <!-- <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ООО «Автоцентр на Барыкина»</a>-->
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!--   <img src="images/logo.jpg" width="50" height="50" alt="Логотип">-->
             
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                            <li class="dropdown">
                                <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
                                <a asp-area="" asp-controller="Home" asp-action="Service" class="dropdown-toggle" data-toggle="dropdown">Услуги<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="" asp-controller="Service" asp-action="Diagnostics">Диагностика автомобиля</a></li>
                                    <li><a asp-area="" asp-controller="Service" asp-action="TechService">Техническое обслуживание</a></li>
                                    <li><a asp-area="" asp-controller="Service" asp-action="Repair">Ремонт</a></li>
                                    <!--<li class="divider"></li>-->
                                    <li><a asp-area="" asp-controller="Service" asp-action="AutoElectricity">Услуги автоэлектрика</a></li>
                                    <li><a asp-area="" asp-controller="Service" asp-action="RazvalShozdenie">Компьютерный развал-схождение</a></li>
                                    <li><a asp-area="" asp-controller="Service" asp-action="Conditioning">Система кондиционирования в салоне</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
                                <a asp-area="" asp-controller="Home" asp-action="SpareParts" class="dropdown-toggle" data-toggle="dropdown">Запчасти<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <!--<li><a href="#">В наличии</a></li>-->
                                    <li><a asp-area="" asp-controller="SpareParts" asp-action="Stock">В наличии</a></li>
                                    <li><a href="#">Заказ запчастей</a></li>
                                    <li><a asp-area="" asp-controller="SpareParts" asp-action="TITAN">TITAN</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
                                <a asp-area="" asp-controller="Home" asp-action="Prices" class="dropdown-toggle" data-toggle="dropdown">Экскурс по ценам<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <!--<li><a href="#">Диагностика автомобиля</a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>-->
                                    <!--<li><a asp-area="" asp-controller="Prices" asp-action="Diagnostics">Диагностика автомобиля</a></li>
                                    <!--<li><a asp-area="" asp-controller="Prices" asp-action="TechService">ТО</a></li> 
                                        <li><a asp-area="" asp-controller="Prices" asp-action="Repair">Ремонт</a></li>
                                        <li><a asp-area="" asp-controller="Prices" asp-action="AutoElectricity">Услуги автоэлектрика</a></li>
                                        <li><a asp-area="" asp-controller="Prices" asp-action="RazvalShozdenie">Компьютерный развал-схождение</a></li>
                                        <li><a asp-area="" asp-controller="Prices" asp-action="Conditioning">Система кондиционирования в салоне</a></li> -->  
                                    
                                    <li><a asp-area="" asp-controller="Prices" asp-action="Index" asp-fragment="diag">Диагностика автомобиля</a></li>
                                    <li><a asp-area="" asp-controller="Prices" asp-action="Index" asp-fragment="techserv">ТО</a></li> 
                                    <li><a asp-area="" asp-controller="Prices" asp-action="Index" asp-fragment="repair">Ремонт</a></li> 
                                    <li><a asp-area="" asp-controller="Prices" asp-action="Index" asp-fragment="electro">Услуги автоэлектрика</a></li>
                                    <li><a asp-area="" asp-controller="Prices" asp-action="Index" asp-fragment="razval">Компьютерный развал-схождение</a></li>
                                    <li><a asp-area="" asp-controller="Prices" asp-action="Index" asp-fragment="condi">Система кондиционирования в салоне</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown">
                                <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
                                <a asp-area="" asp-controller="Home" asp-action="About" class="dropdown-toggle" data-toggle="dropdown">О компании<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="" asp-controller="Company" asp-action="History">История развития компании</a></li>
                                    <li><a href="#">Команда сервиса</a></li>
                                </ul>
                            </li>

                                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></li>
                        </ul>
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p align="bottom">&copy; 2017 - ООО «Автоцентр на Барыкина»</p>
                </footer>
            </div>

            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
            <environment names="Staging,Production">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("scripts", required: false)
</body>
</html>
